@use "../tokens" as *;

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  margin-bottom: 3.6rem;

  &__title {
    margin: 0;

    @extend %text-heading-800;
  }
}
