@use "../tokens" as *;

.search {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  border-radius: 1.5rem;
  padding: .65rem .7rem .75rem 4.5rem;
  background-color: var(--color-background-secondary);
  box-shadow: var(--color-box-shadow-input-default);

  @media screen and (min-width: $sm-device) {
    padding: 1rem 1rem 1rem 8rem;
  }

  &:focus-within {
    box-shadow: var(--color-box-shadow-focus-default);
  }

  &::before {
    position: absolute;
    content: " ";
    background: url("~/assets/icons/icon-search.svg");
    background-size: 2rem 2rem;
    top: 2rem;
    left: 1.6rem;
    width: 2rem;
    height: 2rem;

    @media screen and (min-width: $sm-device) {
      top: 2.4rem;
      left: 3.3rem;
      background-size: 2.4rem 2.4rem;
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__input {
    outline: none;
    padding: 0;

    @extend %input-reset;
    @extend %input-text-default;
  }

  &__button {
    font-weight: 700;

    @extend %text-heading-600;
    @extend %input-reset;
    @extend %button-default;
  }
}
