/* stylelint-disable number-leading-zero */
:root {
  --color-background-primary: rgb(246 248 255);
  --color-background-secondary: rgb(254 254 254);
  --color-box-shadow-input-default: 0 16px 30px -10px rgb(70 96 187 / 19.8567%);
  --color-box-shadow-focus-default: inset 0 0 0 .2rem rgb(20 29 47), 0 .2rem .2rem 0 rgb(12 11 8 / 20%);
  --color-box-shadow-button-focus-default: inset 0 0 0 .3rem rgb(0 121 255), 0 .2rem .2rem 0 rgb(12 11 8 / 20%);
  --color-box-shadow-button-active-default: inset 0 0 0 .3rem rgb(0 121 255), inset 0 0 0 .5rem rgb(254 254 254);
  --color-icon-fill: rgb(75 106 155);
  --color-link-default-disabled: rgb(75 106 155 / 50%);
  --color-text-button-primary: rgb(255 255 255);
  --color-text-button-primary-hover: rgb(255 255 255);
  --color-background-button-primary: rgb(0 121 255);
  --color-background-button-primary-hover: rgb(96 171 255);
  --color-text-body-default: rgb(75 106 155);
  --color-text-heading-500: rgb(75 106 155);
  --color-text-heading-700: rgb(20 29 47);
  --color-text-heading-800: rgb(20 29 47);
  --color-text-link-default: rgb(75 106 155);
  --color-text-link-secondary-hover: rgb(34 39 49);
  --color-text-input-default: rgb(43 52 66);
  --color-text-input-placeholder: rgb(75 106 155);
  --color-text-input-caret: rgb(0 121 255);
}
