@use "./tokens" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: $text-default-font-family;
  font-weight: $text-default-font-weight;
  font-size: $text-default-font-size;
  line-height: $text-default-height;
  color: var(--color-text-body-default);
}

