$sm-device: 768px;
$md-device: 1440px;

$text-default-font-family: "Space Mono", monospace;
$text-default-font-weight: 400;
$text-default-font-size: 1.5rem;
$text-default-height: 2.5rem;

/* Placeholders */
%text-heading-800 {
  font-family: $text-default-font-family;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 3.8rem;
}

